<h1>Configuration</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <td>Key</td>
      <td>Value</td>
      <td/>
    </tr>
  </thead>
  <tbody>
  {{#config.values}}
    <tr>
    <form action="/config" method="POST">
      <td><input type="hidden" id="key" name="key" value="{{key}}"></input>{{key}}</td>
      <td><input type="input" id="value" name="value" value="{{value}}"></td></td>
      <td><input type="submit"></input></td>
    </form>
    </tr>
  {{/config.values}}
  </tbody>
</table>