<h1>{{view.files.title}}</h1>
<table class="table table-hover">
  <thead>
    <th>{{view.files.file.name}}</th>
    <th>{{view.files.mime.type}}</th>
    <th>{{view.files.created.at}}</th>
    <th/>
    <th/>
    <th/>
  </thead>
  </thead>
  <tbody>
  {{#fileEntries}}
    <tr>
    <td>{{fileName}}</td>
    <td>{{mimeType}}</td>
    <td>{{createTime}}</td>
    <td><a href="/guifile/{{id}}">{{view.files.view}}</a></td>
    <td><a href="/api/file/{{id}}">{{view.files.download}}</a></td>
    <td><a href="/file/delete/{{id}}">{{view.files.delete}}</a></td>
    </tr>
  {{/fileEntries}}
  </tbody>
</table>
