      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/index">{{page.title}}</a>
          </div>
          <ul class="nav navbar-nav">
            {{#known.domains}}<li{{#selected}} class="active"{{/selected}}><a href="/index?domain={{name}}">{{name}}</a></li>{{/known.domains}}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li {{#show.files}}class="active"{{/show.files}}><a href="/files">{{menu.files}}</a></li>
          </ul>
          
          <!--
          <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Right</a></li>
          </ul>
          -->
        </div>
      </nav>