{{> html_start}}

{{> html_menu}}
      
      {{#show.data}}
        {{> data}}
      {{/show.data}}
      {{#show.history}}
        {{> history}}
      {{/show.history}}
      {{#show.files}}
        {{> files}}
      {{/show.files}}
      {{#show.config}}
        {{> config}}
      {{/show.config}}

{{> html_stop}}